*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation:scale 25s;
    
    
}

@keyframes scale{
    0% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}
.grid-container {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    


}
.grid-item{
    /* border: 1px solid black; */
    height: 50px;
    width: 75px;
   
   
    
  
    
}
#equal{
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    height: 200px;
    width: 75px;
    
}
#equal button{
    height: 200px;
}
button{
    height: 50px;
    width: 75px;
   border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(228, 225, 225);
    transition: .2s;
    
}
button:hover{
    background-color: rgb(211, 208, 208);
    border: .1px solid rgb(170, 161, 161);
}
button:active {
    background-color: rgb(173, 200, 218);
    box-shadow: 0px 0px 78px -6px rgba(0,0,0,0.71) inset;
    color:rgb(241, 241, 237)
}

.operands button{
    background-color: rgb(243, 240, 240);
}
.operands button:hover{
    background-color: rgb(211, 208, 208);
    border: .1px solid rgb(170, 161, 161);
}
.operands button:active {
    background-color: rgb(173, 200, 218);
    box-shadow: 0px 0px 78px -6px rgba(0,0,0,0.71) inset;
}

#input{
    width: 300px;
    height: 60px;
    margin-bottom: 7px;
    text-align: right;
    padding: 20px;
    font-size: 20px;
    background-color: white;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    height: 318px;
    width: 300px;
    box-shadow: 0px 0px 162px -59px rgba(0,0,0,0.43);
    /* border: 1px solid black; */
    
}

@media screen 
  and (max-width: 414px)  {

    body{
        background-color: black;
    }

    .calculator{
        transform: translate(-50%, -50%);   
    }
    .img-wrapper img{
    display: none;
    }
}
